<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-back-button style="color:#fff;" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title style="color:#fff;">How the app works?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-button (click)="openBaseline()">Open onboarding</ion-button>

  <ion-list>


    <ion-item style="border: 1px solid #263238;border-left: 3px solid #263238;">  
      <ion-thumbnail slot="start">
        <img src="assets/img/survey.png">
      </ion-thumbnail>
      <ion-label text-wrap>
        <h2>Complete surveys and get rewarded</h2>
        <h3 style="padding-top: 5px; color: #555;">Every day complete one survey between 8AM to 2PM, and another survey between <b>6PM</b> and <b>midnight</b>, and receive a variety of different rewards described below.</h3> 
      </ion-label>
    </ion-item>

    <br/>

<!--
    <ion-item style="border: 1px solid #263238;border-left: 3px solid #263238;">  
      <ion-thumbnail slot="start">
        <img src="assets/img/money.gif">
      </ion-thumbnail>
      <ion-label text-wrap>
        <h2>Money</h2>
        <h3 style="padding-top: 5px; color: #555;">Earn <b>one dollar</b> for completing a 3-day streak of your daily survey and <b>two dollars</b> for completing the 1st survey of every new month.</h3> 
      </ion-label>
    </ion-item>

    <br/>
-->

    <ion-item style="border: 1px solid #263238;border-left: 3px solid #263238;">  
      <ion-thumbnail slot="start">
        <img src="assets/img/60points.png">
      </ion-thumbnail>
      <ion-label text-wrap>
        <h2>Point</h2>
        <h3 style="padding-top: 5px; color: #555;">Each survey you complete = <b>60 points!</b></h3>
      </ion-label>
    </ion-item>

    <br/>

    <ion-item style="border: 1px solid #4E342E; border-left: 3px solid #4E342E;">  
      <ion-thumbnail slot="start">
        <img src="assets/img/clownfish_tn.jpg">
      </ion-thumbnail>
      <ion-label text-wrap>
        <h2>Animals</h2>
        <h3 style="padding-top: 5px; color: #555;">More <b>points</b> = more <b>animals</b> in your environment!</h3>
        <h3 style="padding-top: 5px; color: #555;">You can unlock <b>62</b> different animals and fish!!</h3>
      </ion-label>
    </ion-item>

    <br/>

    <ion-item style="border: 1px solid #4E342E; border-left: 3px solid #4E342E;">  
      <ion-thumbnail slot="start" style="width: 100px; height: 100px;">
        <img src="assets/img/left_top.png">
      </ion-thumbnail>
      <ion-label text-wrap>
        <h2>Survey completion bar</h2>
        <h3 style="padding-top: 5px; color: #555;">Shows the number of surveys you have completed in the past week (shown as <b>green</b>) and the ones you missed (shown as <b>gray</b>).</h3>
      </ion-label>
    </ion-item>

    <br/>

    <ion-item style="border: 1px solid #4E342E; border-left: 3px solid #4E342E;">  
      <ion-label text-wrap>
        <h2>Progress bars</h2>
        <h3 style="padding-top: 5px; color: #555;"><b>Next Animal (top):</b> Shows how far you are to unlock the next animal.</h3>
        <h3 style="padding-top: 5px; color: #555;"><b>Level up (bottom):</b> Shows how far until you “level up” until the next environment</h3>
      </ion-label>
      <ion-thumbnail slot="end"  style="width: 100px; height: 100px;">
        <img src="assets/img/status_bar.png">
      </ion-thumbnail>
    </ion-item>

  </ion-list>
  
  <div class="list">


    <!--
    <div class="card" style="border-left: 3px solid #263238;border-top: 1px solid #263238;"> 
        <img src="img/18_Rev.jpg" style="float:left;width:100px;padding:10px;padding-right:20px;padding-top:15px;margin-bottom:0px;" />
        <p style="padding:15px;font-size:15px;color:#5a2d0c">Longer <b>streaks</b> give higher<br>financial incentives<br></b></p>
        <ul style="padding-left:100px;margin-top:1px;">
            <li style="height:20px;color:#5a2d0c;">&bull; 3-day streak gives 25 cents</li>
            <li style="height:20px;color:#5a2d0c;">&bull; 6-day streak gives 50 cents</li>
            <li style="height:20px;color:#5a2d0c;">&bull; 12-day streak gives 1 dollars</li>
            <li style="height:20px;color:#5a2d0c;">&bull; 18-day streak gives 1.5 dollars</li>
            <li style="height:20px;color:#5a2d0c;">&bull; 30-day streak gives 2.5 dollars</li>
            <li style="height:15px;"></li>
        </ul>
        <br><p style="padding:10px;font-size: 12px;line-height:15px;color:#5a2d0c;">Streaks for surveys and active tasks are separate. So, if you complete 3-day streaks on both survey and active tasks then you will get 50 cents.<p>
    </div>
    

    <div class="card"  style="border-left: 2px solid #263238;border-top: 1px solid #263238;"> 
        <p style="padding:15px;font-size:15px;">You will sometimes get <b>thank you messages</b> or <b>memes</b> for completing the surveys.</p>
        <div class="item item-image" style="border: 0px solid #4E342E;">
            <img src="assets/memes/4.jpg" style="padding:20px;padding-top:5px;">
        </div>
    </div>
    -->


</div>



</ion-content>
