<ion-header>
  <ion-toolbar class="new-background-color">
    <!--ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons-->
    <ion-buttons slot="end">
        <ion-button style="color:#fff;" (click)="startCheatPage()">
          <ion-icon name="alert"></ion-icon>
        </ion-button>
        <ion-text  *ngIf="!isActive" style="color:#fff;"><strong>Account is Paused</strong> </ion-text>
        <ion-button style="color:#fff;" href="{{surveyPath}}">
          <ion-icon name="journal"></ion-icon>
        </ion-button>
        <!--
        <ion-button href="{{surveyPath}}" *ngIf="isActive">Start Survey</ion-button> 
        <ion-button style="color:#fff;" (click)="startSurvey()">
          <ion-icon name="journal"></ion-icon>
        </ion-button> 
        <ion-button style="color:#fff;" (click)="startSurveyAYA()">
          <ion-icon name="journal"></ion-icon>
        </ion-button> 
        -->
    </ion-buttons>
    <ion-title style="color:#fff;">ADAPTS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="gameDiv"></div>
  <p  style="padding-top:10px;padding-bottom:0px;padding-left:10px;"><b>Username</b>: {{username}}</p>  

  

  <!--

  <ion-button color="primary" (click)="startTundraLevel()">Tundra level</ion-button>

  <app-loading-spinner></app-loading-spinner>

  <ion-card> 
    <div class="quetiontextstyle">
        This is the question
    </div>
    <div class="radiovertical">
      <ul>
        
        <li>
          <input type="radio" id="ff-option" name="selector" (click)="modelChanged(2)">
          <label for="ff-option">Pizza</label> 
          <div class="check"></div>
        </li>

        <li>
          <input type="radio" id="ss-option" name="selector" (click)="modelChanged(3)">
          <label for="ss-option">Boyfriend</label>
          <div class="check"><div class="inside"></div></div>
        </li>
        
        <li>
          <input type="radio" id="tt-option" name="selector" (click)="modelChanged(4)">
          <label for="tt-option">Cats</label>
          <div class="check"><div class="inside"></div></div>
        </li>

      </ul>
    </div>
  </ion-card>
  -->

</ion-content>
