ion-checkbox {
    --size: 28px;
    --background-checked: #6815ec!important;
}

ion-checkbox::part(container) {
    border-radius: 0px;
    border: 4px solid #6815ec;
}

ion-button {
    --border-radius: 0px!important;
}