<ion-header>
    <ion-toolbar class="new-background-color">

      <ion-buttons slot="start">
        <ion-menu-button style="color:#fff;" menuId="first"></ion-menu-button>

        <!--
        <ion-button style="color:#fff;" (click)="startCheatPage()" *ngIf="isIOS">
          <ion-icon name="alert"></ion-icon>
        </ion-button>
        -->
      </ion-buttons>

      <!--
        <ion-button style="color:#fff;" (click)="startInfoPage()" *ngIf="isIOS">
          <ion-icon name="ios-help-circle"></ion-icon>
        </ion-button>
        <ion-menu-button autoHide="false" style="color:#fff;" menuId="first" (click)="showSideMenu()"></ion-menu-button>
        <ion-button style="color:#fff;" (click)="showSideMenu()">
          <ion-icon name="menu"></ion-icon>
        </ion-button>
        
        <ion-button style="color:#fff;" (click)="startInfoPage()" *ngIf="isIOS">
          <ion-icon name="ios-help-circle"></ion-icon>
        </ion-button>

        <ion-button style="color:#fff;" (click)="startCheatPage()" *ngIf="isIOS">
          <ion-icon name="alert"></ion-icon>
        </ion-button>

        <ion-button style="color:#fff;" (click)="startInfoPage()" *ngIf="!isIOS">
            <ion-icon name="ios-help-circle"></ion-icon>
        </ion-button>
      -->


      <ion-buttons slot="end">
          <font color="white">${{money}}</font>

          
          <ion-button style="color:#fff;" (click)="startCheatPage()"  *ngIf="!isIOS">
            <ion-icon name="alert"></ion-icon>
          </ion-button>
          
  
          <!-- Mash codes:
          <ion-text  *ngIf="!isActive" style="color:#fff;"><strong>Account is Paused</strong> </ion-text>
          <ion-button style="color:#fff;" (click)="startSurvey()">
            <ion-icon name="journal"></ion-icon>
          </ion-button>
          -->
  
          
  
          <ion-button (click)="showHarvardSurvey()"   *ngIf="isActive">
              <ion-icon name="ios-create" style="color : white;"></ion-icon>
          </ion-button>
  
  
          <ion-button *ngIf="!isActive" (click)="dispalySurveyPausedMsg()" >
              <ion-icon name="ios-create" style="color : #e74c3c;"></ion-icon>
          </ion-button>
          <!--
          <ion-button href="{{surveyPath}}" *ngIf="isActive">Start Survey</ion-button> 
          <ion-button style="color:#fff;" (click)="startSurvey()">
            <ion-icon name="journal"></ion-icon>
          </ion-button> 
          <ion-button style="color:#fff;" (click)="startSurveyAYA()">
            <ion-icon name="journal"></ion-icon>
          </ion-button> 
          -->
      </ion-buttons>
      <ion-title style="color:#fff;">{{title}}</ion-title>
    </ion-toolbar>
  </ion-header>
  
  
  
  <ion-content>
    <!--div class="ion-padding">
      <ion-button href="/survey/samplesurvey">Sample survey (demo)</ion-button> <br>
      <ion-button href="/incentive/aquariumone">Incentive: Aquarium 1</ion-button> <br>
      <ion-button href="/incentive/award-memes" >Incentive: meme</ion-button> <br>
      <ion-button href="/incentive/visualization">Incentive: Life-inisight</ion-button> <br>
    </div-->
  
    <app-demo-aquarium isPreview="false"></app-demo-aquarium>

    <!--
    <ion-button color="primary" (click)="showModalDemo()">Unlockables</ion-button>
    <ion-button color="primary" (click)="showMemeDemo()">Meme</ion-button>
    <ion-button color="primary" (click)="showAltruisticDemo()">Altruistic msg</ion-button>

    <ion-button color="primary" (click)="showHarvardArcApps()">Arc apps</ion-button>
    -->

    <!--
    <ion-button color="primary" (click)="showHarvardSurvey()">Harvard survey</ion-button>
    -->

    <ion-button color="primary" (click)="showPythonLifeInsight()">Python life-insight</ion-button>
    
    
  </ion-content>
  
  