# phone code
phone_code/dist/
node_modules/
platforms/
www/
src/environments/environment.ts
src/environments/environment.chop.ts
src/environments/environment.prod.ts
www/
platforms/
copy_these_files/aws_scripts/aws_config.json
copy_these_files/adapts_scripts/adapts_flask/config.ini
*.pem
*.csv
aware-config.json
phone_code/.angular/cache
environment*.js
environment*.ts

# server side code
aws_config.json
mysql_config.json
saraSqlConfig.json
*.pyc
*package.json
*package-lock.json
*.pem
config.ini

.vscode
./server_side_code
