<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" style="color:#fff;"></ion-back-button>
    </ion-buttons>
    <ion-title style="color:#fff;">Baseline survey</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <app-dynamic-survey fileLink="alex_survey"></app-dynamic-survey> -->
  <ion-card *ngIf="previousDataAvailable">
    <ion-text> <ion-icon name="information-circle-outline"></ion-icon> Your past response to this question on <b>{{pastSurveyDate}}</b> was <b>{{response}}</b>
    </ion-text>
  </ion-card>

  <app-dynamic-survey jsonFileLinkForSurvey="baseline_survey"></app-dynamic-survey>
  <!--
  <app-dynamic-survey fileLink="temp_survey"></app-dynamic-survey>
  -->
  
</ion-content>
