<ion-header>
    <ion-toolbar class="new-background-color">
      <ion-buttons slot="start">
        <ion-back-button style="color:#fff;" defaultHref="home"></ion-back-button>
      </ion-buttons>
      <ion-title style="color:#fff;">Contact study staff</ion-title>
    </ion-toolbar>
  </ion-header>


<ion-content class="ion-padding">

<h2>Annisa Ahmed</h2>
<br>
<p><b>Phone</b>: (267) 634-4490</p>
<p><b>Email:</b> ayaadapts&#64;email.chop.edu</p>

<ion-row>
    <ion-col>
        <ion-button color="primary" href="tel:+2676344490"><ion-icon name="call"></ion-icon>&nbsp; Call</ion-button>
    </ion-col>
    <ion-col>
        <ion-button color="danger" href="sms:2676344490"><ion-icon name="chatboxes"></ion-icon>&nbsp; SMS</ion-button>
    </ion-col>
    <ion-col>
        <ion-button color="dark" href="mailto:ayaadapts@email.chop.edu"><ion-icon name="mail"></ion-icon>&nbsp; Email</ion-button>
    </ion-col>
  </ion-row>


</ion-content>