<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title style="color:#fff;">ADAPTS</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="10" offset="1">
        <ion-img src="../../../assets/img/CHOP_RI.svg"></ion-img>        
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" offset="3">
          <br>
          <ion-text >
              <h3>ADAPTS</h3>
          </ion-text>
          
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="10" offset="1">
            <div class="alert alert-danger" *ngIf="error">
                <p>{{error}} </p>
              </div>
              <div *ngIf="isLoading" style="text-align: center;">
                <ion-spinner></ion-spinner>
                <!-- <app-loading-spinner></app-loading-spinner> -->
              </div> 

              <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
                  <ion-item>
                      <ion-label position="floating"  >Username</ion-label>
                      <ion-input type="userName" id="userName"  ngModel name="userName" required ></ion-input>    
                  </ion-item>
                  <ion-item>
                      <ion-label position="floating"   >Password</ion-label>
                      <ion-input type="password" id="password"  ngModel name="password" required  minlength="4" ></ion-input>
                  </ion-item>
                  <div>
                    <ion-button  type="submit" [disabled]="!authForm.valid">{{isLoginMode ? 'Login' : 'Sign Up'}}</ion-button> 
                    <!--|
                    <ion-button  type="button" (click)="onSwitchMode()">
                    Switch to {{isLoginMode ? 'Sign Up' : 'Login'}}</ion-button>
                    -->
                  </div>
              </form>      
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>