<ion-header>
    <ion-toolbar class="new-background-color">
        <ion-buttons slot="start">
            <ion-back-button style="color:#fff;" defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title style="color:#fff;">Thank you messages</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-card>
        <ion-card-content>
            <ion-card-title style="color:black;">{{unlockedAltMessagesCount}} out of 21 thank you messages unlocked
            </ion-card-title>
        </ion-card-content>
    </ion-card>
    <ion-card *ngFor="let x of list_of_alt_msg_to_display;">
        <img src="{{x.filename}}" />
    </ion-card>
</ion-content>