<ion-header>
    <ion-toolbar class="new-background-color">
      <ion-buttons slot="start">
        <ion-back-button style="color:#fff;" defaultHref="home"></ion-back-button>
      </ion-buttons>
      <ion-title style="color:#fff;">Video tutorials</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content class="ion-padding">
    

    <ion-card>
        
        <ion-card-header>
          <ion-card-title>4PM and 6PM notifications</ion-card-title>
        </ion-card-header>
        <div class="video-responsive">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/x_5-2RoDpN0" frameborder="0"></iframe>
        </div>

      </ion-card>

      <ion-card>
        
     <ion-card-header>
          <ion-card-title>Taking the survey</ion-card-title>
        </ion-card-header>
        <div class="video-responsive">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/lbCg69CRxBU" frameborder="0"></iframe>
        </div>

      </ion-card>

      <ion-card>
      <ion-card-header>
        <ion-card-title>Unlockables</ion-card-title>
        </ion-card-header>
        <div class="video-responsive">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/LOLyxkikz60" frameborder="0"></iframe>
        </div>

        </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-title>Reaching Out to Study Team</ion-card-title>
        </ion-card-header>
        <div class="video-responsive">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/m310gD9e3Fs" frameborder="0"></iframe>
        </div>

        </ion-card>
</ion-content>

