/**
 * Cards and Inset Lists
 * --------------------------------------------------
 * A card and list-inset are close to the same thing, except a card as a box shadow.
 */

 .buttonold {
    border-color: transparent;
    background-color: #f8f8f8;
    color: #444;
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0 12px;
    min-width: 52px;
    min-height: 47px;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    vertical-align: top;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 16px;
    line-height: 42px;
    cursor: pointer; }

.buttonold.button-positive {
    border-color: transparent;
    background-color: #387ef5;
    color: #fff; }

 .card,
 .list-inset {
   overflow: hidden;
   margin: 20px 10px;
   border-radius: 2px;
   background-color: #fff; }
 
 .card {
   padding-top: 1px;
   padding-bottom: 1px;
   box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); }
   .card .item {
     border-left: 0;
     border-right: 0; }
   .card .item:first-child {
     border-top: 0; }
   .card .item:last-child {
     border-bottom: 0; }
 
 .padding .card, .padding .list-inset {
   margin-left: 0;
   margin-right: 0; }
 
 .card .item:first-child,
 .list-inset .item:first-child,
 .padding > .list .item:first-child {
   border-top-left-radius: 2px;
   border-top-right-radius: 2px; }
   .card .item:first-child .item-content,
   .list-inset .item:first-child .item-content,
   .padding > .list .item:first-child .item-content {
     border-top-left-radius: 2px;
     border-top-right-radius: 2px; }
 
 .card .item:last-child,
 .list-inset .item:last-child,
 .padding > .list .item:last-child {
   border-bottom-right-radius: 2px;
   border-bottom-left-radius: 2px; }
   .card .item:last-child .item-content,
   .list-inset .item:last-child .item-content,
   .padding > .list .item:last-child .item-content {
     border-bottom-right-radius: 2px;
     border-bottom-left-radius: 2px; }
 
 .card .item:last-child,
 .list-inset .item:last-child {
   margin-bottom: -1px; }
 
 .card .item,
 .list-inset .item,
 .padding > .list .item,
 .padding-horizontal > .list .item {
   margin-right: 0;
   margin-left: 0; }
   .card .item.item-input input,
   .list-inset .item.item-input input,
   .padding > .list .item.item-input input,
   .padding-horizontal > .list .item.item-input input {
     padding-right: 44px; }
     

/* Empty. Add your own CSS if you like */
#test{
    width: 20%;
  }
  
  #test:before{
    content:'';
    padding:50% 0;/* vertical value as  100% equals width */
    display:inline-block;
    vertical-align:middle; /* or whatever */
  }
  
  .center {
      text-align: center;
      border: 3px solid blue;
  }
  
  
  img.shade {
      -webkit-filter: grayscale(100%) blur(5px) opacity(70%); /* Safari 6.0 - 9.0 */
      filter: grayscale(80%) blur(5px) opacity(90%);
  }
  
  
  
  label > input{ /* HIDE RADIO */
    display:none;
  }
  
  label > input + img{ /* IMAGE STYLES */
    cursor:pointer;
    border:2px solid transparent;
  }
  
  label > input:checked + img{ /* (CHECKED) IMAGE STYLES */
    border:4px solid #f00;
    /* -webkit-filter: invert(100%); filter: invert(100%); */
  }
  
  
  .radioimages {
    justify-content: center;
    padding-left: 10px;
  }
  
  .radiovertical ul{
    position: relative;
    list-style: none;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  
  ul li{
    color: #000000;
    display: block;
    position: relative;
    float: left;
    width: 100%;
    height: 40px;
  }
  
  .radiohorizontal ul{
    position: relative;
    list-style: none;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
  
  }
  
  .radiohorizontal ul li{
    display:inline;
    width: auto;
  }
  
  
  ul li input[type=radio]{
    position: absolute;
    visibility: hidden;
  }
  
  ul li label{
    display: block;
    position: relative;
    font-size: 17px;
    padding: 0px 25px 25px 60px;
    margin: 0px auto;
    height: 30px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
  }
  
  .radiohorizontal {
    padding-bottom: 10px;
  }
  
  .radiohorizontal ul li label{
    display: block;
    position: relative;
    font-weight: 300;
    font-size: 1.35em;
    padding: 25px 25px 25px 15px;
    margin: 4px auto;
    height: 30px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
  }
  
  .radiohorizontal ul li p{
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
  }
  
  ul li:hover label{
    color: #303F9F;
  }
  
  ul li .check{
    display: block;
    position: absolute;
    border: 2px solid #303F9F;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    top: 2px;
    left: 10px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
  }
  
  .radiohorizontal ul li .check{
    top: 6px;
  }
  
  ul li:hover .check {
    border: 2px solid #004D40;
  }
  
  ul li .check::before {
    display: block;
    position: relative;
    content: '';
    border-radius: 100%;
    height: 15px;
    width: 15px;
    top: 1.5px;
    left: 0px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
  }
  
  input[type=radio]:checked ~ .check {
    border: 3px solid #303F9F;
  }
  
  input[type=radio]:checked ~ .check::before{
    background: #303F9F;
  }
  
  input[type=radio]:checked ~ label{
    color: #303F9F;
  }
  
  
  
  ul li .checkfun{
    display: block;
    position: absolute;
    border: 2px solid #880E4F;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    top: 2px;
    left: 10px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
  }
  
  .radiohorizontal ul li .checkfun{
    top: 6px;
  }
  
  ul li:hover .checkfun {
    border: 2px solid #880E4F;
  }
  
  ul li .checkfun::before {
    display: block;
    position: relative;
    content: '';
    border-radius: 100%;
    height: 15px;
    width: 15px;
    top: 1.5px;
    left: 0px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
  }
  
  input[type=radio]:checked ~ .checkfun {
    border: 3px solid #880E4F;
  }
  
  input[type=radio]:checked ~ .checkfun::before{
    background: #880E4F;
  }
  
  .quetiontextstyle {
        padding: 8px;
      background-color: #E8EAF6;
      color: #303F9F;
      font-size: 17px;
      border-left: 2px solid #303F9F;
      width: auto;
  }
  
  .item-checkbox {
      padding-left: 60px; 
  }
  
  
  
  /* ================================================================================================================== */
  /*                                                                                                                    */
  /*                                              Recall                                                                */
  /*                                                                                                                    */
  /* ================================================================================================================== */
  .quetiontextstylerecall {
      padding: 8px;
      background-color: #F5F5F5;
      color: #212121;
      font-size: 17px;
      border-left: 2px solid #424242;
      width: auto;
  }
  
  
  .quetiontextstylefun {
      padding: 8px;
      background-color: #FCE4EC;
      color: #880E4F;
      font-size: 17px;
      border-left: 2px solid #880E4F;
      width: auto;
  }
  
  
  .sectionheader {
      padding: 12px;
      background-color: #1A237E;
      color: white;
      font-size: 17px;
      width: auto;
  }
  
  /* ================================================================================================================== */
  /*                                                                                                                    */
  /*                                              Main page                                                             */
  /*                                                                                                                    */
  /* ================================================================================================================== */
  .quetiontextstylemain {
      padding: 8px;
      background-color: #E0F2F1;
      color: #004D40;
      font-size: 17px;
      border-left: 2px solid #004D40;
      width: auto;
  }
  
  
  .bar.bar-main {
      border-color: #6b46e5;
      background-color: #009688;
      background-image: linear-gradient(0deg, #6b46e5, #6b46e5 50%, transparent 50%);
      color: #fff; }
      .bar.bar-royal .title {
        color: #fff; }
      .bar.bar-royal.bar-footer {
        background-image: linear-gradient(180deg, #6b46e5, #6b46e5 50%, transparent 50%); 
  }
  
  
  
  
  /* ================================================================================================================== */
  /*                                                                                                                    */
  /*                                              Generic                                                               */
  /*                                                                                                                    */
  /* ================================================================================================================== */
  .card{
      border-top: 0px solid #004D40;
      margin-left: 5px;
      margin-right: 5px;
      margin-bottom: 25px;
      position: relative;
  }
  
  
  .bar.bar-ema {
      border-color: #607D8B;
      background-color: #3F51B5;
      background-image: linear-gradient(0deg, #607D8B, #607D8B 50%, transparent 50%);
      color: #fff; }
      .bar.bar-royal .title {
        color: #fff; }
      .bar.bar-royal.bar-footer {
        background-image: linear-gradient(180deg, #607D8B, #607D8B 50%, transparent 50%); 
  }
  
  
  .bar.bar-recall {
      border-color: #6b46e5;
      background-color: #009688;
      background-image: linear-gradient(0deg, #6b46e5, #6b46e5 50%, transparent 50%);
      color: #fff; }
      .bar.bar-royal .title {
        color: #fff; }
      .bar.bar-royal.bar-footer {
        background-image: linear-gradient(180deg, #6b46e5, #6b46e5 50%, transparent 50%); 
  }
  
  
  #viewport {
  
  }
  
  #viewport .stack {
      width: 100%;
      height: 500px;
      background: #FFFFFF;
      position: absolute;
      margin-left: 00px;
      border-radius: 10px; 
  }
  
  #viewport li {
      width: 100%;
      height: 400px;
      list-style: none;
      background: #fff;
      border-radius: 5px;
      position: absolute;
      top: 0;
      left: 0;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 1px 1px 1px rgba(0, 0, 0, 0.2);
      line-height: 50px;
      text-align: center;
      font-size: 30px;
      border: 10px solid #ECECEC;
      box-sizing: border-box;
      cursor: default; 
  }
  
  
  #rewards{
      width: 100%;
      height: 260px;
      list-style: none;
      background: #fff;
      border-radius: 15px;
      position: absolute;
      top: 10;
      left: 0;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 1px 1px 1px rgba(0, 0, 0, 0.2);
      line-height: 25px;
      text-align: center;
      font-size: 20px;
      border: 8px solid #ECECEC;
      box-sizing: border-box;
      cursor: default; 
  }
  
  #rewards.red{
     background: #fff;
     border: 12px solid #b30000;
  }
  
  #rewards.green{
     background: #fff;
     border: 12px solid #5c6948;
  }
  
  #rewards.blue{
     background: #fff;
     border: 12px solid #396aab;
  }
  
  #rewards.yellow{
     background: #fff;
     border: 12px solid #efad0d;
  }
  
  
  
  #buttons{
      text-align: center;
  }
  
  #container {
    width:55px;
    position: relative;
    float:left;
  }
  
  #container3 {
    width:40px;
    position: relative;
    float:left;
  }
  
  #container2 {
    width:22px;
    float:left;
  }
  
  #text {
      position: absolute;
      top: -1px;
      right: -1px;
      font-size: 13px;
      background-color: #34495e;
      color: white;
      height: 22px;
      width: 22px;
      -moz-border-radius: 11px;
      border-radius: 11px;
      padding-left: 7px;
      font-weight: bold;
  }
  
  #image{
      height:auto;
      width:45px;
      margin:5px;
      max-width:200px;
  }
  
  .nvd3.nv-lineChart rect{ 
    opacity: 1!important; fill:white; 
    border: 0px solid black;
  }
  
  .domain{ 
    opacity: 0!important; fill:white; 
  }
  
  .nv-point {
    stroke-opacity: 1 !important;
    stroke-width: 5px;
    fill-opacity: 1 !important;
  }
  
  
  
  .rating {
      margin: auto;
      width:60%;
      padding: 0px;
  }
  
  /* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
     follow these rules. Every browser that supports :checked also supports :not(), so
     it doesn’t make the test unnecessarily selective */
  .rating:not(:checked) > input {
      position:absolute;
      top:-9999px;
      clip:rect(0,0,0,0);
  }
  
  .rating:not(:checked) > label {
      float:right;
      width:1em;
      padding:0 .1em;
      overflow:hidden;
      white-space:nowrap;
      cursor:pointer;
      font-size:200%;
      line-height:1.2;
      color:#ddd;
      text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
  }
  
  .rating:not(:checked) > label:before {
      content: '★ ';
  }
  
  .rating > input:checked ~ label {
      color: #f70;
      text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
  }
  
  .rating:not(:checked) > label:hover,
  .rating:not(:checked) > label:hover ~ label {
      color: gold;
      text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
  }
  
  .rating > input:checked + label:hover,
  .rating > input:checked + label:hover ~ label,
  .rating > input:checked ~ label:hover,
  .rating > input:checked ~ label:hover ~ label,
  .rating > label:hover ~ input:checked ~ label {
      color: #ea0;
      text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
  }
  
  .rating > label:active {
      position:relative;
      top:2px;
      left:2px;
  }
  
  
  
  
  /* round button for tapping task */
  .round-button {
    width:100px;
    height:80px;
    margin-right: 10px;
    display: inline-block;
  }
  .round-button-circle {
    width: 100%;
    height:100%;
    padding-bottom: 100%;
    border-radius: 50%;
    border:2px solid #FCE4EC;
    overflow:hidden;
          
    background: #E91E63; 
    box-shadow: 0 0 3px gray;
  }
  .round-button-circle:hover {
    background:#AD1457;
  }
  .round-button a {
    display:block;
    width:100%;
    padding-top:50%;
    padding-bottom:50%;
    line-height:1em;
    margin-top:-0.4em;
          
    text-align:center;
    color:#ffffff;
    font-family:Verdana;
    font-size:1.2em;
    text-decoration:none;
  }





  /**
 * Grid
 * --------------------------------------------------
 * Using flexbox for the grid, inspired by Philip Walton:
 * http://philipwalton.github.io/solved-by-flexbox/demos/grids/
 * By default each .col within a .row will evenly take up
 * available width, and the height of each .col with take
 * up the height of the tallest .col in the same .row.
 */
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  width: 100%; }

.row-wrap {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.row-no-padding {
  padding: 0; }
  .row-no-padding > .col {
    padding: 0; }

.row + .row {
  margin-top: -5px;
  padding-top: 0; }

.col {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: block;
  padding: 5px;
  width: 100%; }

/* Vertically Align Columns */
/* .row-* vertically aligns every .col in the .row */
.row-top {
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  align-items: flex-start; }

.row-bottom {
  -webkit-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  align-items: flex-end; }

.row-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center; }

.row-stretch {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  align-items: stretch; }

.row-baseline {
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  -webkit-align-items: baseline;
  -moz-align-items: baseline;
  align-items: baseline; }

/* .col-* vertically aligns an individual .col */
.col-top {
  -webkit-align-self: flex-start;
  -moz-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start; }

.col-bottom {
  -webkit-align-self: flex-end;
  -moz-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end; }

.col-center {
  -webkit-align-self: center;
  -moz-align-self: center;
  -ms-flex-item-align: center;
  align-self: center; }

/* Column Offsets */
.col-offset-10 {
  margin-left: 10%; }

.col-offset-20 {
  margin-left: 20%; }

.col-offset-25 {
  margin-left: 25%; }

.col-offset-33, .col-offset-34 {
  margin-left: 33.3333%; }

.col-offset-50 {
  margin-left: 50%; }

.col-offset-66, .col-offset-67 {
  margin-left: 66.6666%; }

.col-offset-75 {
  margin-left: 75%; }

.col-offset-80 {
  margin-left: 80%; }

.col-offset-90 {
  margin-left: 90%; }

/* Explicit Column Percent Sizes */
/* By default each grid column will evenly distribute */
/* across the grid. However, you can specify individual */
/* columns to take up a certain size of the available area */
.col-10 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 10%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 10%;
  -ms-flex: 0 0 10%;
  flex: 0 0 10%;
  max-width: 10%; }

.col-20 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 20%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 20%;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%; }

.col-25 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 25%;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%; }

.col-33, .col-34 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33.3333%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 33.3333%;
  -ms-flex: 0 0 33.3333%;
  flex: 0 0 33.3333%;
  max-width: 33.3333%; }

.col-40 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 40%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 40%;
  -ms-flex: 0 0 40%;
  flex: 0 0 40%;
  max-width: 40%; }

.col-50 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%; }

.col-60 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 60%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 60%;
  -ms-flex: 0 0 60%;
  flex: 0 0 60%;
  max-width: 60%; }

.col-66, .col-67 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 66.6666%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 66.6666%;
  -ms-flex: 0 0 66.6666%;
  flex: 0 0 66.6666%;
  max-width: 66.6666%; }

.col-75 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 75%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 75%;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%; }

.col-80 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 80%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 80%;
  -ms-flex: 0 0 80%;
  flex: 0 0 80%;
  max-width: 80%; }

.col-90 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 90%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 90%;
  -ms-flex: 0 0 90%;
  flex: 0 0 90%;
  max-width: 90%; }
  



/**
 * Range
 * --------------------------------------------------
 */
 .range input {
  display: inline-block;
  overflow: hidden;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-right: 2px;
  padding-left: 1px;
  width: auto;
  height: 43px;
  outline: none;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ccc), color-stop(100%, #ccc));
  background: linear-gradient(to right, #ccc 0%, #ccc 100%);
  background-position: center;
  background-size: 99% 2px;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  /*
   &::-ms-track{
     background: transparent;
     border-color: transparent;
     border-width: 11px 0 16px;
     color:transparent;
     margin-top:20px;
   }
   &::-ms-thumb {
     width: $range-slider-width;
     height: $range-slider-height;
     border-radius: $range-slider-border-radius;
     background-color: $toggle-handle-off-bg-color;
     border-color:$toggle-handle-off-bg-color;
     box-shadow: $range-slider-box-shadow;
     margin-left:1px;
     margin-right:1px;
     outline:none;
   }
   &::-ms-fill-upper {
     height: $range-track-height;
     background:$range-default-track-bg;
   }
   */ }
  .range input::-moz-focus-outer {
    /* hide the focus outline in Firefox */
    border: 0; }
  .range input::-webkit-slider-thumb {
    position: relative;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    -webkit-appearance: none;
    border: 0; }
  .range input::-webkit-slider-thumb:before {
    /* what creates the colorful line on the left side of the slider */
    position: absolute;
    top: 13px;
    left: -2001px;
    width: 2000px;
    height: 2px;
    background: #444;
    content: ' '; }
  .range input::-webkit-slider-thumb:after {
    /* create a larger (but hidden) hit area */
    position: absolute;
    top: -15px;
    left: -15px;
    padding: 30px;
    content: ' '; }
  .range input::-ms-fill-lower {
    height: 2px;
    background: #444; }

.range {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  padding: 2px 11px; }
  .range.range-light input::-webkit-slider-thumb:before {
    background: #ddd; }
  .range.range-light input::-ms-fill-lower {
    background: #ddd; }
  .range.range-stable input::-webkit-slider-thumb:before {
    background: #b2b2b2; }
  .range.range-stable input::-ms-fill-lower {
    background: #b2b2b2; }
  .range.range-positive input::-webkit-slider-thumb:before {
    background: #387ef5; }
  .range.range-positive input::-ms-fill-lower {
    background: #387ef5; }
  .range.range-calm input::-webkit-slider-thumb:before {
    background: #11c1f3; }
  .range.range-calm input::-ms-fill-lower {
    background: #11c1f3; }
  .range.range-balanced input::-webkit-slider-thumb:before {
    background: #33cd5f; }
  .range.range-balanced input::-ms-fill-lower {
    background: #33cd5f; }
  .range.range-assertive input::-webkit-slider-thumb:before {
    background: #ef473a; }
  .range.range-assertive input::-ms-fill-lower {
    background: #ef473a; }
  .range.range-energized input::-webkit-slider-thumb:before {
    background: #ffc900; }
  .range.range-energized input::-ms-fill-lower {
    background: #ffc900; }
  .range.range-royal input::-webkit-slider-thumb:before {
    background: #886aea; }
  .range.range-royal input::-ms-fill-lower {
    background: #886aea; }
  .range.range-dark input::-webkit-slider-thumb:before {
    background: #444; }
  .range.range-dark input::-ms-fill-lower {
    background: #444; }

.range .icon {
  -webkit-box-flex: 0;
  -webkit-flex: 0;
  -moz-box-flex: 0;
  -moz-flex: 0;
  -ms-flex: 0;
  flex: 0;
  display: block;
  min-width: 24px;
  text-align: center;
  font-size: 24px; }

.range input {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: block;
  margin-right: 10px;
  margin-left: 10px; }

.range-label {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -moz-box-flex: 0;
  -moz-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  display: block;
  white-space: nowrap; }

.range-label:first-child {
  padding-left: 5px; }

.range input + .range-label {
  padding-right: 5px;
  padding-left: 0; }

.platform-windowsphone .range input {
  height: auto; }
  
  
  
  
  
  
  
  
