<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" style="color:#fff;"></ion-back-button>
    </ion-buttons>
    <ion-title style="color:#fff;">Survey</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <!-- <app-dynamic-survey fileLink="alex_survey"></app-dynamic-survey> -->
    <app-dynamic-survey jsonFileLinkForSurvey="alex_survey_aya"></app-dynamic-survey>
  <!--
  <app-dynamic-survey fileLink="temp_survey"></app-dynamic-survey>
  -->
</ion-content>


