h1, h3, h4, h5 {
    margin-bottom: 0;
    margin-top: 10px;
  }
  
  .error-container {
    width: 220px;
    margin: 0 auto;
    margin-top: 50%;
    transform: translateY(-50%);
    text-align: center;
  }