<ion-header>
    <ion-toolbar class="new-background-color">
        <ion-buttons slot="start">
            <ion-back-button style="color:#fff;" defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title style="color:#fff;">Medication calendar</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="openAddEventModal()">
              <ion-icon name="add" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

    <!-- Create some random event -->
    <ion-row>
        <ion-col size="6">
          <ion-button (click)="createRandomEvents()" expand="block" fill="outline">
            Add random events
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button (click)="removeEvents()" expand="block" fill="outline">
            Remove all events
          </ion-button>
        </ion-col>
    </ion-row>


    

    <ion-card>
        <ion-card-header>
            <ion-card-title>Medication Calendar</ion-card-title>
            <!--  <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
        </ion-card-header>

        <!-- Move back and forther with lelf and right. -->
        <ion-row>
            <!-- Move back one screen of the slides -->
            <ion-col size="2">
            <ion-button fill="clear" (click)="back()">
                <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
            </ion-button>
            </ion-col>
        
            <ion-col size="8" class="ion-text-center">
            <h2>{{ viewTitle }}</h2>
            </ion-col>
        
            <!-- Move forward one screen of the slides -->
            <ion-col size="2">
            <ion-button fill="clear" (click)="next()">
                <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
            </ion-button>
            </ion-col>
        </ion-row>

        <ion-card-content>
            <calendar 
                [eventSource]="eventSource" 
                [calendarMode]="calendar.mode" 
                [currentDate]="calendar.currentDate"
                [showEventDetail]="true"
                (onTitleChanged)="onViewTitleChanged($event)"
                [monthviewDisplayEventTemplate]="template">
            </calendar>
        </ion-card-content>
    </ion-card>
</ion-content>


<ng-template #template let-view="view" let-row="row" let-col="col">
    <div [class.with-event]="view.dates[row*7+col].events.length">
      {{view.dates[row*7+col].label}}
      <div class="indicator-container">
        <div class="event-indicator" *ngFor="let e of view.dates[row*7+col].events"></div>
      </div>
    </div>
</ng-template>