.new-background-color{
    --background: #005486;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}
.grid-container > div {
    padding: 20px 0;
}
.vega-embed {
    width: 80%;
    height: 70%;
}