<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-back-button style="color:#fff;" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title style="color:#fff;">Life insight</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--
  <iframe
      width="300px"
      height="100%"
      [src]="helpUrl"
      frameborder="0"
      allowfullscreen
  ></iframe>
  -->

  <div id="vis1" style="width: 100%; height: auto;padding: 10px;"></div>
  <br/><br/><br/>
  <div id="vis2" style="width: 100%; height: auto;padding: 10px;"></div>
</ion-content>