<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-back-button style="color:#fff;" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title style="color:#fff;">Life insight</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--
  <iframe
      width="300px"
      height="100%"
      [src]="helpUrl"
      frameborder="0"
      allowfullscreen 
  ></iframe>
  
  <div class="grid-container">
  -->
  <ion-card id="visCard1">
    <div id="vis1"></div>
  </ion-card>
  <ion-card id="visCard2">
    <div id="vis2"></div>
  </ion-card>
  <ion-card id="visCard3">
    <div id="vis3"></div>
  </ion-card>
  
  <!-- </div> -->
</ion-content>