<ion-app> 
  <app-terms-of-service *ngIf="!agreeToTerms"></app-terms-of-service>


  <ion-menu content-id="menu" side="start" menuId="first" type="overlay" swipeEnabled="false" *ngIf="agreeToTerms">
    <!--
    <ion-header>
      <ion-toolbar>
        <ion-icon name="contact"></ion-icon>
        <ion-title>mash_aya</ion-title>
      </ion-toolbar>
    </ion-header>
    -->
    <ion-content>
      
      <ion-header>
        <ion-toolbar>
          <br>
          <ion-avatar style="margin: auto;">
            <img src="https://raw.githubusercontent.com/ionic-team/ionic-docs/master/src/demos/api/avatar/avatar.svg">
          </ion-avatar>
          <h2 style="text-align: center;">{{username}}</h2>
        </ion-toolbar>
      </ion-header>

      

      <ion-list>
        <ion-item [routerLink]="['/incentive/infopage']">
          <ion-icon name="ios-help-circle"></ion-icon>
          &nbsp; How this app works
        </ion-item>

        <ion-item [routerLink]="['/contact-study-staff']">
          <ion-icon name="call"></ion-icon>
          &nbsp; Contact study staff
        </ion-item>


        <ion-item><br><br><h3 style="font-size: 16px;padding-top: 24px;">Preview/review levels</h3></ion-item>
        <!--
          [routerLink]="['/preview/fishbowl']"
        -->
        <ion-item (click)="showPreviewOfFishBowl()"> 
          <ion-label text-wrap>
            Level 1: Fishbowl
          </ion-label>
        </ion-item>
        <ion-item (click)="showPreviewOfSea()">
          <ion-label text-wrap>
            Level 2: Sea
            <p>Unlocks at 1060 points</p>
          </ion-label>
        </ion-item>
        
        <ion-item  (click)="showPreviewOfTundra()">
          <ion-label text-wrap>
            Level 3: Tundra
            <p>Unlocks at 2120 points</p>
          </ion-label>
        </ion-item>
        <ion-item (click)="showPreviewOfRainforest()">
          <ion-label text-wrap>
            Level 4: Rainforest
            <p>Unlocks at 3020 points</p>
          </ion-label>
        </ion-item>
        
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet *ngIf="agreeToTerms && !isLoading" id="menu"></ion-router-outlet>

  <!--
  <ion-router-outlet id="menu"></ion-router-outlet>
  
  
  -->
</ion-app>

