<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-back-button style="color:#fff;" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title style="color:#fff;">Inforation page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-list>

    <ion-item style="border: 1px solid #263238;border-left: 3px solid #263238;">  
      <ion-thumbnail slot="start">
        <img src="assets/img/money.gif">
      </ion-thumbnail>
      <ion-label text-wrap>
        <h2>Money</h2>
        <h3>You will earn <b>one dollar</b> for completing a 3-day streak of your daily survey and <b>two dollars</b> for completing the 1st survey of every new cycle.</h3> 
      </ion-label>
    </ion-item>

    <br/>

    <ion-item style="border: 1px solid #FF6F00;border-left: 3px solid #FF6F00;">  
      <ion-thumbnail slot="start">
        <img src="assets/img/30points.png">
      </ion-thumbnail>
      <ion-label text-wrap>
        <h2>Point</h2>
        <h3>Each survey you complete = <b>60 points!</b></h3>
      </ion-label>
    </ion-item>

    <br/>

    <ion-item style="border: 1px solid #4E342E; border-left: 3px solid #4E342E;">  
      <ion-thumbnail slot="start">
        <img src="assets/img/clownfish_tn.jpg">
      </ion-thumbnail>
      <ion-label text-wrap>
        <h2>Animals</h2>
        <h3>More <b>points</b> = more <b>animals</b> in your environment!</h3>
      </ion-label>
    </ion-item>

  </ion-list>
  
  <div class="list">


    <!--
    <div class="card" style="border-left: 3px solid #263238;border-top: 1px solid #263238;"> 
        <img src="img/18_Rev.jpg" style="float:left;width:100px;padding:10px;padding-right:20px;padding-top:15px;margin-bottom:0px;" />
        <p style="padding:15px;font-size:15px;color:#5a2d0c">Longer <b>streaks</b> give higher<br>financial incentives<br></b></p>
        <ul style="padding-left:100px;margin-top:1px;">
            <li style="height:20px;color:#5a2d0c;">&bull; 3-day streak gives 25 cents</li>
            <li style="height:20px;color:#5a2d0c;">&bull; 6-day streak gives 50 cents</li>
            <li style="height:20px;color:#5a2d0c;">&bull; 12-day streak gives 1 dollars</li>
            <li style="height:20px;color:#5a2d0c;">&bull; 18-day streak gives 1.5 dollars</li>
            <li style="height:20px;color:#5a2d0c;">&bull; 30-day streak gives 2.5 dollars</li>
            <li style="height:15px;"></li>
        </ul>
        <br><p style="padding:10px;font-size: 12px;line-height:15px;color:#5a2d0c;">Streaks for surveys and active tasks are separate. So, if you complete 3-day streaks on both survey and active tasks then you will get 50 cents.<p>
    </div>
    -->

    <div class="card"  style="border-left: 2px solid #263238;border-top: 1px solid #AD1457;"> 
        <p style="padding:15px;font-size:15px;color:#AD1457">You will sometimes get <b>thank you messages</b> or <b>memes</b> for completing the surveys.</p>
        <div class="item item-image" style="border: 0px solid #4E342E;">
            <img src="assets/memes/4.jpg" style="padding:20px;padding-top:5px;">
        </div>
    </div>


</div>



</ion-content>