<ion-header>
    <ion-toolbar class="new-background-color">
      <ion-buttons slot="start">
        <ion-back-button style="color:#fff;" defaultHref="home"></ion-back-button>
      </ion-buttons>
      <ion-title style="color:#fff;">Level 2: Sea</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  <!--
  <app-demo-aquarium isPreview="false"></app-demo-aquarium>
  -->
  
  <ion-card>
    <ion-card-content>
      <ion-card-title style="color:black;">A preview of Level 2: Sea</ion-card-title>
      This level will be unlocked at 1060 points.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="assets/img/at_2100_points.png">
  </ion-card>
</ion-content>