<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-back-button style="color:#fff;" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title style="color:#fff;">Memes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-content>
      <ion-card-title style="color:black;">{{unlockedMemeCount}} out of 31 memes unlocked</ion-card-title>
    </ion-card-content>
  </ion-card>
  <ion-card *ngFor="let x of list_of_meme_to_display;">
    <img src="{{x.filename}}" />
  </ion-card>
</ion-content>