<ion-header>
    <ion-toolbar class="new-background-color">

      <ion-buttons slot="start">
        <ion-menu-button style="color:#fff;" menuId="first"></ion-menu-button>
        <!--
        <ion-button style="color:#fff;" (click)="startCheatPage()" *ngIf="isIOS">
          <ion-icon name="alert"></ion-icon>
        </ion-button>
        -->
      </ion-buttons>

      <!--
        <ion-button style="color:#fff;" (click)="startInfoPage()" *ngIf="isIOS">
          <ion-icon name="ios-help-circle"></ion-icon>
        </ion-button>
        <ion-menu-button autoHide="false" style="color:#fff;" menuId="first" (click)="showSideMenu()"></ion-menu-button>
        <ion-button style="color:#fff;" (click)="showSideMenu()">
          <ion-icon name="menu"></ion-icon>
        </ion-button>
        
        <ion-button style="color:#fff;" (click)="startInfoPage()" *ngIf="isIOS">
          <ion-icon name="ios-help-circle"></ion-icon>
        </ion-button>

        <ion-button style="color:#fff;" (click)="startCheatPage()" *ngIf="isIOS">
          <ion-icon name="alert"></ion-icon>
        </ion-button>

        <ion-button style="color:#fff;" (click)="startInfoPage()" *ngIf="!isIOS">
            <ion-icon name="ios-help-circle"></ion-icon>
        </ion-button>
      -->


      <ion-buttons slot="end">
        <font color="white">${{money}}</font>

          
        <!-- <ion-button style="color:#fff;" (click)="startCheatPage()"  *ngIf="!isIOS"> -->
        <ion-button style="color:#fff;" (click)="startCheatPage()">
            <ion-icon name="alert-circle" style="color : white;"></ion-icon>
        </ion-button>
          
        
        <!-- 
        <ion-button (click)="startSurvey()"   *ngIf="isActive">
          <ion-icon name="create" style="color : white;"></ion-icon>
        </ion-button>
        

        <ion-button (click)="startSurveySleep()"   *ngIf="isActive">
          <ion-icon name="create" style="color : white;"></ion-icon>
        </ion-button>
        -->

        <!--
        Oct 31, 2023, this was the final logic.

        <ion-button (click)="startAYASurvey()"   *ngIf="isActive">
          <ion-icon name="create" style="color : white;"></ion-icon>
        </ion-button>

        <ion-button *ngIf="!isActive" (click)="dispalySurveyPausedMsg()" >
          <ion-icon name="create" style="color : #e74c3c;"></ion-icon>
        </ion-button>
        -->

        <!--
            <ion-button (click)="showDogsSurvey()"   *ngIf="isActive">
                <ion-icon name="ios-create" style="color : white;"></ion-icon>
            </ion-button>
        -->
    
	      <!-- 
          <ion-button (click)="showHarvardSurvey()"   *ngIf="isActive">
              <ion-icon name="ios-create" style="color : white;"></ion-icon>
          </ion-button>
        --> 
             
          
          <!--
          <ion-button href="{{surveyPath}}" *ngIf="isActive">Start Survey</ion-button> 
          <ion-button style="color:#fff;" (click)="startSurvey()">
            <ion-icon name="journal"></ion-icon>
          </ion-button> 
          <ion-button style="color:#fff;" (click)="startSurveyAYA()">
            <ion-icon name="journal"></ion-icon>
          </ion-button> 
          -->
      </ion-buttons>
      <ion-title style="color:#fff;">{{title}}</ion-title>
    </ion-toolbar>
  </ion-header>
  
  
  
  <ion-content>
    <!--div class="ion-padding">
      <ion-button href="/survey/samplesurvey">Sample survey (demo)</ion-button> <br>
      <ion-button href="/incentive/aquariumone">Incentive: Aquarium 1</ion-button> <br>
      <ion-button href="/incentive/award-memes" >Incentive: meme</ion-button> <br>
      <ion-button href="/incentive/visualization">Incentive: Life-inisight</ion-button> <br>
    </div-->
    <h2 style="margin-left: 5px;">Messages</h2>
    <swiper-container [spaceBetween]="5" [slidesPerView]="1.2">
        <swiper-slide style="padding: 10px;">What is one thing that puts a smile on your face? Try to engage with that now! Confession: ours is petting any cute fluffy animal.</swiper-slide>
        <swiper-slide style="padding: 10px;">The most important thing is to take 6-MP every day, even if it is not exactly at the same time.</swiper-slide>
        <swiper-slide style="padding: 10px;">When you are tired, make a list, check it twice (don't forget to add "take meds today")</swiper-slide>
    </swiper-container>

    <h2 style="margin-left: 5px;">Medication</h2>
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let dayMed of weeklyMed;">
            <span style="font-weight:bold;font-size: 18px;color:#064874;">{{dayMed.day}}</span>
            <br>
            <span style="font-weight:150;font-size: 18px; color:rgb(73, 72, 72)">{{dayMed.date}}</span>
            <br>
            <ion-icon name={{dayMed.icon}} style="font-weight:bold; padding-top: 5px;font-size: 30px; color: {{dayMed.color}}"></ion-icon>
          </ion-col>
          <!-- <ion-col>
            W<br>1<br><ion-icon name="close-outline"></ion-icon>
          </ion-col>
          <ion-col>3</ion-col>
          <ion-col>4</ion-col>
          <ion-col>5</ion-col>
          <ion-col>6</ion-col>
          <ion-col>7</ion-col> -->
        </ion-row>
      </ion-grid>
    </ion-card>

    <h2 style="margin-left: 5px;">Insight</h2>
    <ion-card>
      <div id="vis2"></div>
    </ion-card>

    

    <h2 style="margin-left: 5px;">Aquarium</h2>
    <ion-card>
      <app-demo-aquarium isPreview="false"></app-demo-aquarium>
    </ion-card>

    <h2 style="margin-left: 5px;">Thank yous</h2>
    
    <swiper-container 
      [effect]="'coverflow'"
      [spaceBetween]="0"
      [centeredSlides]="true"
      [grabCursor]="true"
      [slidesPerView]="'auto'"
      [loop]="'auto'"
			[parallax]="true"
      [coverflowEffect]="{rotate: 0, stretch: 4, depth: 10, scale: .8, modifier: 1, slideShadows: true}"
      [slidesPerView]="1.5"
    >
        <!-- <swiper-slide><img src="./assets/altruism/altruism_1.png" /></swiper-slide>
        <swiper-slide><img src="./assets/altruism/altruism_2.png" /></swiper-slide>
        <swiper-slide><img src="./assets/altruism/message_1.png" /></swiper-slide>
        <swiper-slide><img src="./assets/altruism/message_2.png" /></swiper-slide> -->
        
        <swiper-slide *ngFor="let altMsgsImage of altMsgsImages;"><img src={{altMsgsImage}}/></swiper-slide>
    </swiper-container>

    <h2 style="margin-left: 5px;">Memes</h2>
    <!-- <swiper-container 
      [effect]="'coverflow'"
      [spaceBetween]="0"
      [centeredSlides]="true"
      [grabCursor]="true"
      [slidesPerView]="'auto'"
      [loop]="'auto'"
			[parallax]="true"
      [coverflowEffect]="{rotate: 0, stretch: 10, depth: 10, scale: .8, modifier: 1, slideShadows: true}"
      [pagination]='{el: ".swiper-pagination"}'
      [slidesPerView]="1.5"
    > -->
    <swiper-container [pagination]="true" [spaceBetween]="5" [slidesPerView]="1.2">
        <!-- <swiper-slide><img src="./assets/memes/1.jpg" style="border-width: 1px; border-color: #86b9b0;"/></swiper-slide>
        <swiper-slide><img src="./assets/memes/2.png" style="border-width: 1px; border-color: #86b9b0;"/></swiper-slide>
        <swiper-slide><img src="./assets/memes/3.png" style="border-width: 1px; border-color: #86b9b0;"/></swiper-slide>
        <swiper-slide><img src="./assets/memes/4.jpg" style="border-width: 1px; border-color: #86b9b0;"/></swiper-slide> -->
        <swiper-slide *ngFor="let memeImage of memeImages;"><img src={{memeImage}}/></swiper-slide>
    </swiper-container>

      <!-- <swiper-container 
      [effect]="'coverflow'"
      [grabCursor]="true"
      [slidesPerView]="auto"
      [coverflowEffect.rotate]="50"
      [coverflowEffect.stretch]="0"
      [coverflowEffect.depth]="100"
      [coverflowEffect.depth]="1"
      [coverflowEffect.slideShadows]="true"
      [pagination]='{el: ".swiper-pagination"}'
      [slidesPerView]="1.5"
    > -->
    <!-- <div class="swiper #mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="https://swiperjs.com/demos/images/nature-1.jpg" />
        </div>
        <div class="swiper-slide">
          <img src="https://swiperjs.com/demos/images/nature-2.jpg" />
        </div>
        <div class="swiper-slide">
          <img src="https://swiperjs.com/demos/images/nature-3.jpg" />
        </div>
        <div class="swiper-slide">
          <img src="https://swiperjs.com/demos/images/nature-4.jpg" />
        </div>
        <div class="swiper-slide">
          <img src="https://swiperjs.com/demos/images/nature-5.jpg" />
        </div>
        <div class="swiper-slide">
          <img src="https://swiperjs.com/demos/images/nature-6.jpg" />
        </div>
        <div class="swiper-slide">
          <img src="https://swiperjs.com/demos/images/nature-7.jpg" />
        </div>
        <div class="swiper-slide">
          <img src="https://swiperjs.com/demos/images/nature-8.jpg" />
        </div>
        <div class="swiper-slide">
          <img src="https://swiperjs.com/demos/images/nature-9.jpg" />
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div> -->
    
    <ion-button color="primary" (click)="showModalDemo()">Unlockables</ion-button>
   
    
    <!--
    <ion-button color="primary" (click)="showModalDemo()">Unlockables</ion-button>
    <ion-button color="primary" (click)="showMemeDemo()">Meme</ion-button>
    <ion-button color="primary" (click)="showAltruisticDemo()">Altruistic msg</ion-button>

    <ion-button color="primary" (click)="showHarvardArcApps()">Arc apps</ion-button>
    -->

    <!--
    <ion-button color="primary" (click)="showHarvardSurvey()">Harvard survey</ion-button>
    -->

    <!-- <ion-button color="primary" (click)="showPythonLifeInsight()">Python life-insight</ion-button> -->
    
    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button (click)="startAYASurvey()">
        <ion-icon name="list"></ion-icon>
      </ion-fab-button>

      <!--
      <ion-fab-list side="top">
        <ion-fab-button>
          <ion-icon name="document"></ion-icon>
        </ion-fab-button>
        <ion-fab-button>
          <ion-icon name="color-palette"></ion-icon>
        </ion-fab-button>
        <ion-fab-button>
          <ion-icon name="globe"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
      -->
    </ion-fab>
    
  </ion-content>
  
  
