.new-background-color{
    --background: #005486;
}

ion-col {
    background-color: white;
    border: solid 1px #fff;
    color: #000;
    text-align: center;
}

ion-fab-button {
    --background: #D0F634;
    --background-activated: #a38e09d8;
    --background-hover: #a3e681;
    --box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
    --color: #005486;
    --border-color: white;
}

ion-card {
    margin: 5px;
    border-radius: 0px;
}

swiper-container{
    width: 100%;
    min-height: 150px;
    justify-content: center;
}

swiper-slide{
    margin-top: 5px;
    margin-left: 5px;
    min-height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(234, 234, 241);
    /* background: #ccdb7e; */
    /* box-shadow: 0px 15px 50px 0px rgba(0, 0, 0, 0.08), 0px 1px 8px 0px rgba(0, 0, 0, 0.01),
        0px 3px 130px 0px rgba(0, 0, 0, 0.06), 0px 12px 43.24px 2.76px rgba(0, 0, 0, 0.14); */
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

/* https://stackoverflow.com/questions/44802333/changing-css-class-properties-based-on-condition-ngif-in-angular-2 */
.aquarium-class             { padding: 1px;}
.aquarium-class.caregiver   { padding: 0px; }
.aquarium-class.aya         { padding: 5px; }


