<ion-header>
    <ion-toolbar class="new-background-color">
      <ion-buttons slot="start">
        <ion-back-button style="color:#fff;" defaultHref="home"></ion-back-button>
      </ion-buttons>
      <ion-title style="color:#fff;">Python sample life insight</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!--
    <iframe
        width="300px"
        height="100%"
        [src]="helpUrl"
        frameborder="0"
        allowfullscreen
    ></iframe>
    -->

    <div style="position: relative;">
        <img [src]="whichImage" style="height: auto;width: 100%;padding-top:0px; border: 0px solid #fff;position: absolute;"/>
      </div>



</ion-content>