<ion-header>
    <ion-toolbar class="new-background-color">
      <ion-buttons slot="start">
        <ion-back-button style="color:#fff;" defaultHref="home"></ion-back-button>
      </ion-buttons>
      <ion-title style="color:#fff;">Python sample life insight</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!--
    <iframe
        width="300px"
        height="100%"
        [src]="helpUrl"
        frameborder="0"
        allowfullscreen
    ></iframe>
    -->

    <h3 style="padding:5px; padding-left:10px;">Mood</h3>
    <div>
        <img [src]="moodInsightImage" style="height: auto;width: 100%;padding-top:0px; border: 0px solid #fff;"/>
    </div>
    

    <h3 style="padding:5px; padding-left:10px; padding-top:10px;">Concentration level</h3>
    <div>
      <img [src]="concentrationInsightImage" style="height: auto;width: 100%;padding-top:0px; border: 0px solid #fff;"/>
    </div>

    <h3 style="padding:5px; padding-left:10px; padding-top:10px;">Good day tomorrow</h3>
    <div>
      <img [src]="stressInsightImage" style="height: auto;width: 100%;padding-top:0px; border: 0px solid #fff;"/>
    </div>





</ion-content>