// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import './theme/survey-theme.css';
@import './theme/phaser-fonts.css';


@import 'swiper/scss';
@import "swiper/scss/navigation";
@import "swiper/scss/pagination";

.add-medication {
  --width: fit-content;
  --min-width: 250px;
  --height: fit-content;
  --border-radius: 6px;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}

.add-medication h1 {
    margin: 20px 20px 10px 20px;
}

.add-medication .wrapper {
    margin-bottom: 10px;
}

.unloacked-incentives {
    --height: 80%;
    --border-radius: 10px;
    padding: 25px;
}