<ion-header>
    <ion-toolbar>
    <ion-title>
      Initiated Drinking EMA Survey
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-padding">
      <ion-label>{{question.label}}</ion-label>
      <ion-item >
        <ion-label>Yes</ion-label>
        <ion-checkbox [(ngModel)]="question.result1"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>No</ion-label>
        <ion-checkbox  [(ngModel)]="question.result2"></ion-checkbox>
      </ion-item>

    </div>
</ion-content>

<div class="ion-padding">
    <ion-button (click)="storeData()">Submit</ion-button> 
</div>

<!--div class="card">
    <div class="card-body"></div>
</div-->
