<ion-header>
    <ion-toolbar class="new-background-color">
      <ion-buttons slot="start">
        <ion-back-button style="color:#fff;" defaultHref="home"></ion-back-button>
      </ion-buttons>
      <ion-title style="color:#fff;">Video tutorials</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content class="ion-padding">
    

    <ion-card>
        
        <ion-card-header>
          <ion-card-title>4PM and 6PM notifications</ion-card-title>
        </ion-card-header>
        <div class="video-responsive">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/951nWfONMAQ" frameborder="0"></iframe>
        </div>

      </ion-card>
</ion-content>