<!--
  <app-aquarium></app-aquarium>
-->

<ion-tabs>

  <ion-tab-bar slot="bottom" style="background: #005486;">
    <ion-tab-button tab="incentive" style="background: #005486;">
      <ion-icon src="/assets/img/fish_tab.svg" style="color: #fff;"></ion-icon>
      <ion-label style="color: #fff;">Aquarium</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="unlocables" style="background: #005486;">
      <ion-icon src="/assets/img/treasure_chest_tab.svg" style="color: #fff;"></ion-icon>
      <ion-label style="color: #fff;">Unlockables</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="memes" style="background: #005486;">
      <ion-icon src="/assets/img/happy_tab.svg" style="color: #fff;"></ion-icon>
      <ion-label style="color: #fff;">memes</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="thankyous" style="background: #005486;">
      <ion-icon src="/assets/img/help_tab.svg" style="color: #fff;"></ion-icon>
      <ion-label style="color: #fff;">Thank yous</ion-label>
    </ion-tab-button>

    <!--
    <ion-tab-button tab="tab2">
      <ion-icon name="create"></ion-icon>
      <ion-label>Memes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="locate"></ion-icon>
      <ion-label>Thank yous</ion-label>
    </ion-tab-button>
    -->
  </ion-tab-bar>

</ion-tabs>