<!--
  <app-aquarium></app-aquarium>
-->

<ion-tabs>

  <ion-tab-bar slot="bottom" style="background: #005486;">
    
    <ion-tab-button tab="incentive" style="background: #005486;"  class=“ion-no-padding”>
      <ion-icon src="/assets/img/fish_tab.svg" style="color: #fff;"></ion-icon>
      <ion-label style="color: #fff;">Home</ion-label>
    </ion-tab-button>

<!--    <ion-tab-button tab="quotes" style="background: #005486;"  class=“ion-no-padding” *ngIf="isAYA">
      <ion-icon src="/assets/img/brain.svg" style="color: #fff;"></ion-icon>
      <ion-label style="color: #fff;">Quotes</ion-label>
    </ion-tab-button>
-->
    <ion-tab-button tab="memes" style="background: #005486;"  class=“ion-no-padding” *ngIf="isAYA">
      <ion-icon src="/assets/img/happy_tab.svg" style="color: #fff;"></ion-icon>
      <ion-label style="color: #fff;">Memes</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="thankyous" style="background: #005486;"  class=“ion-no-padding” *ngIf="isAYA">
      <ion-icon src="/assets/img/help_tab.svg" style="color: #fff;"></ion-icon>
      <ion-label style="color: #fff;">Thank yous</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contact" style="background: #005486;"  class=“ion-no-padding” *ngIf="!isAYA">
      <ion-icon name="call" style="color: #fff;"></ion-icon>
      <ion-label style="color: #fff;">Contact</ion-label>
    </ion-tab-button>



    <!--

    <ion-tab-button tab="contact" style="background: #005486;"  class=“ion-no-padding”>
      <ion-icon name="call" style="color: #fff;"></ion-icon>
      <ion-label style="color: #fff;">Contact</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="tab2">
      <ion-icon name="create"></ion-icon>
      <ion-label>Memes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="locate"></ion-icon>
      <ion-label>Thank yous</ion-label>
    </ion-tab-button>
    -->
  </ion-tab-bar>

</ion-tabs>
