<!--ion-header>
  <ion-toolbar>
    <ion-title>
      Select Survey
    </ion-title>
  </ion-toolbar>
</ion-header-->


<ion-header>
  <ion-toolbar>
    <ion-title>
      SARA modular 
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <div class="ion-padding">
    <ion-button href="/survey/initated-drink" >Survey 1</ion-button> <br>
    <ion-button href="/survey/activetask2">Active Task 1</ion-button> <br>
    <ion-button href="/survey/dynamicsurvey">Dynamic survey (demo)</ion-button> <br>
    <ion-button href="/incentive/award-memes" >Incentive: meme</ion-button> <br>
    <ion-button href="/incentive/visualization">Incentive: Life-inisight</ion-button> <br>
    <ion-button href="/incentive/aquariumone">Incentive: Aquarium 1</ion-button> 
  </div>

  <!--    <app-demo-aquarium></app-demo-aquarium>   -->
</ion-content>

